In [1]:
import pandas as pd
import os
import seaborn as sns

In [2]:
bp = pd.read_csv('/Users/hari/Data/Building_Permits_Issued.csv')

/Users/hari/anaconda3/envs/NSSdatascience/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
bp.head()

,Permit #,Permit Type Description,Permit Subtype Description,Parcel,Date Entered,Date Issued,Const. Cost,Address,City,State,Zip,Subdivision/Lot,Contact,Permit Type,Permit Subtype,IVR Trk#,Purpose,Council Dist,Census Tract,Mapped Location
0,2018002927,Building Residential - New,Single Family Residence,081160R00100CO,01/18/2018,02/12/2018,206150.0,1017A MONROE ST,NASHVILLE,TN,37208,UNIT A 1017 MONROE,"TRISTAR CONSTRUCTION, INC",CARN,CAA01R301,3439281,to construct 1830SF single family residence wi...,19.0,37019400.0,"1017A MONROE ST\nNASHVILLE, TN 37208\n(36.1740..."
1,201617929,Building Use & Occupancy,"Tents, Stages",09215014800,04/19/2016,04/21/2016,2000.0,2300 WEST END AVE,NASHVILLE,TN,37203,N W CORNER WEST END AVE & 23RD AVE N,Music City Tents & Events Llc,CAUO,CAZ06A001,2116751,PERMIT TO ERECT 1:40X85 TENT. THIS TENT IS BEI...,21.0,37016500.0,"2300 WEST END AVE\nNASHVILLE, TN 37203\n(36.14..."
2,2016049270,Building Sign Permit,Sign - Ground / Wall Signs,11909014000,09/14/2016,09/14/2016,15000.0,2802 NOLENSVILLE PIKE,NASHVILLE,TN,37211,PT LOT 2 PATTERSON SUB,BOZMAN SIGN CO INC,CASN,CAZ02A001,3277064,to install replacement signage for existing fr...,16.0,37017300.0,"2802 NOLENSVILLE PIKE\nNASHVILLE, TN 37211\n(3..."
3,2016029907,Building Residential - Roofing / Siding,Duplex,075150A13900CO,06/20/2016,06/20/2016,17648.0,139 STONERS GLEN DR,HERMITAGE,TN,37076,UNIT 139 STONERS GLEN PHASE 1,"MR ROOF NASHVILLE, LLC",CARK,CAA02R302,3251947,Remove existing shingles and replace with new ...,12.0,37015623.0,"139 STONERS GLEN DR\nHERMITAGE, TN 37076\n(36...."
4,201533533,Building Residential - Tenant Finish Out,"Multifamily, Tri-Plex, Quad, Apartments",10404024100,08/07/2015,11/17/2015,542696.0,70 MUSIC SQ W,NASHVILLE,TN,37203,LOT 1 O.B. HAYES FIRST PLAN CONSOLIDATION OF L...,Construction Enterprises Inc,CART,CAA03R398,2061885,SEE MASTER PERMIT T2015-26520...T.....GRAND AV...,19.0,37016400.0,"70 MUSIC SQ W\nNASHVILLE, TN 37203\n(36.147074..."

In [4]:
building = bp.loc[bp['Permit Type Description'].str.contains('Building')]

In [5]:
new_building = building.loc[building['Permit Type Description'].str.contains('New')]

In [6]:
demolition = bp.loc[bp['Permit Type Description'].str.contains('Demolition')]

In [7]:
res_demolition = demolition.loc[demolition['Permit Subtype Description'].str.contains('Residential')]

In [8]:
merged = pd.merge(new_building, res_demolition, how='outer')

In [9]:
#bp.loc[bp['Permit Subtype'].isin(['CAZ01A001', 'CAZ01A002'])]

In [10]:
merged_sf = merged.loc[merged['Permit Subtype Description'].str.contains('Single Family Residence')]

In [11]:
merged_sf.head()

,Permit #,Permit Type Description,Permit Subtype Description,Parcel,Date Entered,Date Issued,Const. Cost,Address,City,State,Zip,Subdivision/Lot,Contact,Permit Type,Permit Subtype,IVR Trk#,Purpose,Council Dist,Census Tract,Mapped Location
0,2018002927,Building Residential - New,Single Family Residence,081160R00100CO,01/18/2018,02/12/2018,206150.0,1017A MONROE ST,NASHVILLE,TN,37208,UNIT A 1017 MONROE,"TRISTAR CONSTRUCTION, INC",CARN,CAA01R301,3439281,to construct 1830SF single family residence wi...,19.0,37019400.0,"1017A MONROE ST\nNASHVILLE, TN 37208\n(36.1740..."
1,2017032777,Building Residential - New,Single Family Residence,072103B00300CO,05/17/2017,05/24/2017,226201.0,1037 FAIRWIN AVE,NASHVILLE,TN,37216,UNIT 3 2619 GALLATIN PIKE TOWNHOMES,PARAGON GROUP LLC,CARN,CAA01R301,3367050,to construct 2008Sf single family residence wi...,5.0,37011400.0,"1037 FAIRWIN AVE\nNASHVILLE, TN 37216\n(36.198..."
5,2016069036,Building Residential - New,Single Family Residence,070070C00100CO,12/09/2016,12/28/2016,235213.0,1012A ALICE ST,NASHVILLE,TN,37218,UNIT 1012A 1012 ALICE AVENUE,CROWN INDUSTRIES LLC,CARN,CAA01R301,3301562,To construct Unit A of 1012 Alice Ave of new ...,2.0,37012801.0,"1012A ALICE ST\nNASHVILLE, TN 37218\n(36.20332..."
7,201614829,Building Residential - New,Single Family Residence,01200025600,04/04/2016,06/27/2016,456678.0,2121 BAKER RD,GOODLETTSVILLE,TN,37072,N/S BAKER RD W OF OLD DICKERSON PK,"Pettis Builders, Llc",CARN,CAA01R301,2112744,CONSTRUCT A SINGLE FAMILY HOME ON THE PROPERTY...,10.0,37010202.0,"2121 BAKER RD\nGOODLETTSVILLE, TN 37072\n(36.3..."
8,2017000049,Building Residential - New,Single Family Residence,164100A43100CO,01/03/2017,01/09/2017,268107.0,704 ABERCORN CT,ANTIOCH,TN,37013,LOT 79 SUMMERFIELD SUBDIVISION VILLAGE TEN,"NVR, INC. T/A RYAN HOMES",CARN,CAA01R301,3306701,TO CONSTRUCT A NEW SINGLE FAMILY RES AT 2380 S...,32.0,37015630.0,"704 ABERCORN CT\nANTIOCH, TN 37013\n(36.045042..."

In [12]:
new_commercial = ['CAA03R299', 'CAA03R301', 'CAA03R398', 'CAA03R399', 'CAA05R202']

In [13]:
new_residential = ['CAA01R301', 'CAA02R302', 'CAA03R298', 'CAA03R299', 'CAA03R301', 'CAA03R398', 'CAA03R399', 'CAA04R301', 'CAA05R202', 'CAA08R301', 'CAA10R301', 'CAZ08A001', 'DPLX2CNDO']

In [14]:
matched = pd.merge(bp.loc[bp['Permit Subtype'].isin(['CAZ01A001', 'CAZ01A002'])], new_building.loc[new_building['Permit Subtype'].isin(new_commercial + new_residential)], on = 'Address')

In [15]:
#bp['Permit Type Description'].value_counts()

In [16]:
#bp['Permit Subtype Description'].value_counts()

In [17]:
commercialdemo = bp.loc[bp['Permit Subtype']== 'CAZ01A001']

In [18]:
sf_2009 = pd.read_csv('/Users/hari/Data/2009 single family_final_with_sqft.txt')
sf_2013 = pd.read_csv('/Users/hari/Data/2013 single family_final_with_sqft.txt')
sf_2017 = pd.read_csv('/Users/hari/Data/2017 single family_final_with_sqft.txt')

In [19]:
sf_2017.loc[sf_2017.AddressFullAddress== '605 SUMMIT OAKS CT']

#building = bp.loc[bp['Permit Type Description'].str.contains('Building')]

,APN,DistrictCode,Council District,AddressFullAddress,AddressCity,AddressPostalCode,2017 LAND,2017 IMPR,2017 TOTAL APPR,2017 TOTAL ASSD,FinishedArea
123198,128120B00700CO,USD,22,605 SUMMIT OAKS CT,NASHVILLE,37221,89000,0,89000,22250,0.0

In [20]:
print(sf_2009.shape)
print(sf_2009.columns)
print(sf_2009.duplicated().sum())
#sf_2009.loc[sf_2009.duplicated(),:]

(183406, 11)
Index(['APN', 'DistrictCode', 'Council District', 'AddressFullAddress',
       'AddressCity', 'AddressPostalCode', '2009 LAND', '2009 IMPR',
       '2009 TOTAL APPR', '2009 TOTAL ASSD', 'FinishedArea'],
      dtype='object')
0

In [21]:
print(sf_2013.shape)
print(sf_2013.columns)
print(sf_2013.duplicated().sum())

(186269, 11)
Index(['APN', 'DistrictCode', 'Council District', 'AddressFullAddress',
       'AddressCity', 'AddressPostalCode', '2013 LAND', '2013 IMPR',
       '2013 TOTAL APPR', '2013 TOTAL ASSD', 'FinishedArea'],
      dtype='object')
0

In [22]:
print(sf_2017.shape)
print(sf_2017.duplicated().sum())
sf_2017.sort_values(ascending =False, by ='2017 TOTAL APPR').describe()

(197114, 11)
0

,Council District,AddressPostalCode,2017 LAND,2017 IMPR,2017 TOTAL APPR,2017 TOTAL ASSD,FinishedArea
count,197114.000000,197114.000000,1.971140e+05,1.971140e+05,1.971140e+05,1.971140e+05,197114.000000
mean,18.250211,37164.657051,8.482655e+04,1.932881e+05,2.781146e+05,6.993672e+04,1848.995762
std,10.330018,111.948534,1.086797e+05,1.966430e+05,2.743975e+05,6.880160e+04,1028.392394
min,1.000000,0.000000,9.000000e+02,0.000000e+00,2.500000e+03,6.250000e+02,0.000000
25%,9.000000,37115.000000,3.300000e+04,1.061000e+05,1.497000e+05,3.777500e+04,1208.000000
50%,19.000000,37207.000000,4.900000e+04,1.507000e+05,2.078000e+05,5.232500e+04,1611.000000
75%,27.000000,37214.000000,8.500000e+04,2.221000e+05,3.134000e+05,7.877500e+04,2204.000000
max,35.000000,37221.000000,4.832000e+06,9.911800e+06,1.149580e+07,2.888680e+06,40417.000000

In [23]:
sf_2017.isnull().sum()

APN                   0
DistrictCode          0
Council District      0
AddressFullAddress    0
AddressCity           0
AddressPostalCode     0
2017 LAND             0
2017 IMPR             0
2017 TOTAL APPR       0
2017 TOTAL ASSD       0
FinishedArea          0
dtype: int64

In [43]:
sf1 = pd.merge(sf_2009, sf_2013, on= 'AddressFullAddress', how = 'outer',suffixes = ('_f','_s'))
sf1.columns

sf1.rename(columns = {'FinishedArea_f' : '2009_FinishedArea', 'FinishedArea_s' : '2013_FinishedArea'}, inplace = True)

sf1['APN']= sf1['APN_f'].where(sf1['APN_s'].isnull(), sf1['APN_s'])
sf1['DistrictCode']= sf1['DistrictCode_f'].where(sf1['DistrictCode_s'].isnull(), sf1['DistrictCode_s'])
sf1['Council District']= sf1['Council District_f'].where(sf1['Council District_s'].isnull(), sf1['Council District_s'])
sf1['AddressCity']= sf1['AddressCity_f'].where(sf1['AddressCity_s'].isnull(), sf1['AddressCity_s'])
sf1['AddressPostalCode']= sf1['AddressPostalCode_f'].where(sf1['AddressPostalCode_s'].isnull(), sf1['AddressPostalCode_s'])
#sf1['FinishedArea']= sf1['FinishedArea_f'].where(sf1['FinishedArea_s'].isnull(), sf1['FinishedArea_s'])
sf1.columns

sf1.drop(['APN_f','DistrictCode_f','Council District_f','AddressCity_f',
          'AddressPostalCode_f','DistrictCode_s','Council District_s','AddressCity_s','APN_s','AddressPostalCode_s'], axis = 1,inplace = True)

final_sf = pd.merge(sf1, sf_2017,on= 'AddressFullAddress', how = 'outer', suffixes = ('_m','_n'),indicator = True)
final_sf.columns

final_sf.rename(columns = {'FinishedArea': '2017_FinishedArea'}, inplace = True)

final_sf['APN']= final_sf['APN_m'].where(final_sf['APN_n'].isnull(), final_sf['APN_n'])
final_sf['DistrictCode']= final_sf['DistrictCode_m'].where(final_sf['DistrictCode_n'].isnull(), final_sf['DistrictCode_n'])
final_sf['Council District']= final_sf['Council District_m'].where(final_sf['Council District_n'].isnull(), final_sf['Council District_n'])
final_sf['AddressCity']= final_sf['AddressCity_m'].where(final_sf['AddressCity_n'].isnull(), final_sf['AddressCity_n'])
final_sf['AddressPostalCode']= final_sf['AddressPostalCode_m'].where(final_sf['AddressPostalCode_n'].isnull(), final_sf['AddressPostalCode_n'])
#final_sf['FinishedArea']= final_sf['FinishedArea_m'].where(final_sf['FinishedArea_n'].isnull(), final_sf['FinishedArea_n'])


final_sf.drop(['APN_m','DistrictCode_m','Council District_m','AddressCity_m',
          'AddressPostalCode_m','DistrictCode_n','Council District_n','AddressCity_n','APN_n','AddressPostalCode_n'], axis = 1, inplace = True)
final_sf.columns

final_sf.drop_duplicates(keep ='first').shape

(201851, 22)

In [44]:
final_sf.shape

(219620, 22)

In [45]:
final_sf.isnull().sum(axis = 0)
# count_nan = len(final_sf) - final_sf.count()
#final_sf.columns

AddressFullAddress        0
2009 LAND             17971
2009 IMPR             17971
2009 TOTAL APPR       17971
2009 TOTAL ASSD       17971
2009_FinishedArea     17971
2013 LAND             15104
2013 IMPR             15104
2013 TOTAL APPR       15104
2013 TOTAL ASSD       15104
2013_FinishedArea     15104
2017 LAND              4262
2017 IMPR              4262
2017 TOTAL APPR        4262
2017 TOTAL ASSD        4262
2017_FinishedArea      4262
_merge                    0
APN                       0
DistrictCode              0
Council District          0
AddressCity               0
AddressPostalCode         0
dtype: int64

In [97]:
final_sf['Pct_Change_2009_2017'] = (final_sf['2017 TOTAL APPR'] - final_sf['2009 TOTAL APPR']) / final_sf['2009 TOTAL APPR']
final_sf['Pct_Change_2013_2017'] = (final_sf['2017 TOTAL APPR'] - final_sf['2013 TOTAL APPR']) / final_sf['2013 TOTAL APPR']

In [98]:
final_sf.shape

(219620, 28)

In [99]:
r = 0.04 #Annual interest rate
y = 30 #Length of mortgage (years)
n = 12*y # Number of monthly payments
d = 0.05 # Down payment percentage
final_sf['Mortgage_Per_Month_2009'] = 12* (1-d)*final_sf['2009 TOTAL APPR'] * r/12 *(1+r/12)**n / ((1+r/12)**n -1)
final_sf['Mortgage_Per_Month_2013'] = 12*(1-d)*final_sf['2013 TOTAL APPR'] * r/12 *(1+r/12)**n / ((1+r/12)**n -1)
final_sf['Mortgage_Per_Month_2017'] = 12*(1-d)*final_sf['2017 TOTAL APPR'] * r/12 *(1+r/12)**n / ((1+r/12)**n -1)

In [100]:
final_sf.head()

,AddressFullAddress,2009 LAND,2009 IMPR,2009 TOTAL APPR,2009 TOTAL ASSD,2009_FinishedArea,2013 LAND,2013 IMPR,2013 TOTAL APPR,2013 TOTAL ASSD,...,DistrictCode,Council District,AddressCity,AddressPostalCode,Mortgage_Per_Month_2009,Mortgage_Per_Month_2013,Mortgage_Per_Month_2017,Address,Pct_Change_2009_2017,Pct_Change_2013_2017
0,1012 OLD BUCK HILL RD,49800.0,65700.0,115500.0,28875.0,1920.0,43500.0,70500.0,114000.0,28500.0,...,RT,10.0,GOODLETTSVILLE,37072.0,6286.127195,6204.489180,7369.191535,"1012 OLD BUCK HILL RD Davidson County , TN",0.172294,0.187719
1,1109 HIGHLAND AVE,44100.0,88700.0,132800.0,33200.0,1464.0,40100.0,96500.0,136600.0,34150.0,...,RT,10.0,GOODLETTSVILLE,37072.0,7227.685641,7434.501947,8152.916484,"1109 HIGHLAND AVE Davidson County , TN",0.128012,0.096633
2,0 SPRINGFIELD HWY,15000.0,137900.0,152900.0,38225.0,3539.0,15000.0,158400.0,173400.0,43350.0,...,GSD,10.0,GOODLETTSVILLE,37072.0,8321.635049,9437.354595,11053.787302,"0 SPRINGFIELD HWY Davidson County , TN",0.328319,0.171280
3,133 B EAST END RD,41100.0,27000.0,68100.0,17025.0,736.0,32300.0,26900.0,59200.0,14800.0,...,RT,10.0,GOODLETTSVILLE,37072.0,3706.365905,3221.980346,3488.664530,"133 B EAST END RD Davidson County , TN",-0.058737,0.082770
4,141 B EAST END RD,25100.0,60900.0,86000.0,21500.0,1301.0,19700.0,63300.0,83000.0,20750.0,...,RT,10.0,GOODLETTSVILLE,37072.0,4680.579557,4517.303526,5322.798612,"141 B EAST END RD Davidson County , TN",0.137209,0.178313

In [101]:
final_sf.groupby('Council District').Pct_Change_2013_2017.mean().nlargest(5)

Council District
5.0     1.279398
20.0    0.785982
7.0     0.785426
21.0    0.759303
6.0     0.743928
Name: Pct_Change_2013_2017, dtype: float64

In [104]:
final_sf.groupby('AddressPostalCode').Pct_Change_2013_2017.mean().nlargest(5)

AddressPostalCode
37208.0    0.959193
37206.0    0.844198
37216.0    0.805598
37207.0    0.712720
37201.0    0.689954
Name: Pct_Change_2013_2017, dtype: float64

In [102]:
final_sf.groupby('Council District').Pct_Change_2009_2017.mean().nlargest(5)

Council District
5.0     1.352403
6.0     1.045688
7.0     0.904015
17.0    0.903942
20.0    0.825503
Name: Pct_Change_2009_2017, dtype: float64

In [103]:
# number of homes fell in 30% Affordable housing in 2009 based on 6% increase in AMI from 2009 t0 2017
final_sf.loc[final_sf['Mortgage_Per_Month_2009'] <= 11550].AddressFullAddress.count()

152835

In [77]:
# number of homes fell in 30% Affordable housing in 2013
final_sf.loc[final_sf['Mortgage_Per_Month_2013'] <= 12240].AddressFullAddress.count()

159102

In [78]:
# number of homes fell in 30% Affordable housing in 2013
final_sf.loc[final_sf['Mortgage_Per_Month_2017'] <= 12240].AddressFullAddress.count()

127735

In [ ]:
# final_sf.drop(final_sf.loc['APN_y','DistrictCode_y', 'Council District_y',
#                'AddressCity_y','AddressPostalCode_y', 'FinishedArea_y'],axis=1, inplace = True)

In [61]:
tax_2016 = pd.read_csv('/Users/hari/Data/2016tax.csv')

In [63]:
tax_2016.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526

In [ ]:
tax_2016.loc[tax_2016.STATE=='TN']

In [82]:
from geopy.geocoders import Nominatim

In [83]:
def get_lat(x):
   try:
       value = geolocator.geocode(x).latitude
   except:
       value = np.nan
   return value
final_sf['Address'] = final_sf['AddressFullAddress'] + ' Davidson County , TN'
final_sf.iloc[0:10,'lat'] = final_sf.iloc[0:10].Address.apply(get_lat)

NameError: name 'np' is not defined